{% extends 'base_dashboard.html' %}
{% load static %}
{% block window_icon %}
    <link rel="icon" href="{% static 'asserts/logo lac-asbl JPEG.jpg' %}">
{% endblock %}
    <b>{% block title %}{{ currentSession.nom | upper}} {{ currentSession.postnom | upper}} {{ currentSession.prenom | capfirst}}{% endblock %}</b>
{% block date %}
    {{ date.date }}
{% endblock %}
{% block user_info %}
    <span><b>{{ currentSession.nom | upper}} {{ currentSession.postnom | upper}}
        {% if currentSession.prenom %}
            {{ currentSession.prenom | capfirst}}
        {% endif %}
        </b>
    </span>
    <span style="font-size: 8.7pt;color: rgba(0,0,0,.4)">
        {{ currentSession.antenne }}
    </span>
    <span style="font-size: 8.7pt;color: rgba(0,0,0,.4)">
        {{ currentSession.departement }}
    </span>
    <span style="font-size: 8.7pt;color: rgba(0,0,0,.4)">
        <u style="font-size: 9pt">{{ currentSession.fonction }}</u>
    </span>
{% endblock %}
{% block profil %}
    <h1>{{ currentSession.nom | upper }} {{ currentSession.postnom | upper }}
        {% if currentSession.prenom %}
            {{ currentSession.prenom | capfirst}}
        {% endif %}
    </h1>
    <li>
        <a href="{% url 'mon_profil_agent' currentSession.id %}">Réglages</a>
    </li>
    <li id="deconnexion">
        <a href=" {% url 'module_deconnexion' %}">Deconnexion</a>
    </li>
{% endblock %}

{% block fonctionalite %}
    <h1>OPTIONS D'ADMINISTRATION</h1>
    <a href="#">
        <li>
            Gestion des agents
        </li>
    </a>
     <a href="#">
        <li>
            Notes de service
        </li>
    </a>
    <a href="#">
        <li>
            Rapports et statistiques
        </li>
    </a>
    <a href="#">
        <li>
            Droits et permissions
        </li>
    </a>
    <br><br><h1>PROFILE DE L'AGENT</h1>
    <a href="#">
        <li>
            Mon dossier administratif
        </li>
    </a>
     <a href="#">
        <li>
            Mon agenda
        </li>
    </a>
    <br><br><h1>BUREAU DE L’AGENT</h1>
    <a href="#">
        <li>
            Outils généraux LACasbl
        </li>
    </a>
     <a href="#">
        <li>
            Mes outils standards de service
        </li>
    </a>
    <a href="#">
        <li>
            Mes outils personnels
        </li>
    </a>
    <br><br><h1>VALVE DE L’AGENT</h1>
    <a href="#">
        <li>
            Notes de service
        </li>
    </a>
     <a href="#">
        <li>
            Bulletin d’information hebdomadaire
        </li>
    </a>
    <a href="#">
        <li>
            Rapports d’activités/d’évaluation de besoins
        </li>
    </a>
    <a href="#">
        <li>
            Echo de nos bureaux LACasbl
        </li>
    </a>
{% endblock %}


{% block aside %}
    <div>
        <h1>PROFILE DE L'AGENT</h1><br><br>
        <img src="/media/{{ user.photo }}" style="width: 10%"><br>
    </div>
    <div>
        <br><br><p>Nom: {{ user.nom | upper}}</p>
        <p>PostNom: {{ user.postnom | upper}}</p>
        {% if user.prenom %}
            <p>Prénom: {{ user.prenom | capfirst}}</p>
        {% endif %}
        <p>Nom d'utilisateur: {{ user.nom_utilisateur }}</p>
        <p>Mot de passe: {{ user.mot_de_passe }}</p>
        <p>Antenne: {{ user.antenne }}</p>
        <p>Département: {{ user.departement }}</p>
        <p>Fonction: {{ user.fonction }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Téléphone 1: {{ user.tel1 }}</p>
        {% if user.tel2 %}
            <p>Téléphone 2: {{ user.tel2 }}</p>
        {% endif %}
    </div>
    <div>
        <br><br><h1>SUIVI DE CONTRAT</h1><br><br>
        <p>Durée du contrat: {{ suivicontrat.dureeContrat | capfirst}}</p>
        <p>Cahier de charge: {{ suivicontrat.cahierDeCharge | capfirst}}</p>

        <p>Salaire: {{ suivicontrat.salaire }}</p>
        <p>Formation/Bourses: {{ suivicontrat.formationbourses }}</p>
    </div>
    <div>
        <br><br>
        <a href="{% url 'mod_modif_profil' user.id %}" class="btn btn-blue">Modifier le profile</a>
        {% if currentSession.typeCompte == 0 %}
            <a href="{% url 'suivi_de_contrat' user.id %}">Ajouter un suivi de contrat pour cet agent</a>
            <a href="#" >Evaluer l'agent</a>
            <a href="{% url 'mes_document_admin' user.id 'cv' %}" >Consulter le dossier administratif de l'agent</a>
        {% endif %}
    </div>
{% endblock %}